.appHeader {
    background: linear-gradient(to bottom, #FFCC00 0%, #FFD700 35%, #FFE066 68%, rgb(243, 217, 115) 100%);
    box-shadow: inset 0 1px 6px 0 #FFE066;
    flex-grow: 1;
    margin: auto 0;
}