{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 50
      }
    }
  ]
}
