.appHeader {
    background: linear-gradient(to bottom, #663399 0%, #6F2DA8 35%, #7F40BF 68%, #9F70CF 100%);
    box-shadow: inset 0 1px 6px 0 #663399;
    flex-grow: 1;
    margin: auto 0;
}

.fontAwesomeFooterIcon {
    color: "#030ca5";
    text-decoration: "none";
}

.socialLink {
    font-size: "25px";
    margin: "1rem 1rem";
    text-decoration: "none";
}

.externalLink {
    color: #030CA5;
    font-size: 18px;
    margin: 1rem 1rem;
    text-decoration: none;
}
